@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  width: 100%;
  padding: 0 1rem;
}
@media (min-width: 640px) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 3rem;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding: 0 5rem;
  }
}

@media (min-width: 1700px) {
  .container {
    max-width: 1536px;
    padding: 0rem;
  }
}
.contenedor-custom {
  @apply container mx-auto max-w-screen-xl 2xl:max-w-screen-2xl;
}

/*Animate scroll custom for clients component*/

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-scroll-custom {
  animation: scroll 10s linear infinite;
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.animate-scroll-reverse-custom {
  animation: scroll-reverse 10s linear infinite;
}

@media (min-width: 768px) {
  .animate-scroll-custom {
    animation: scroll 30s linear infinite;
  }

  .animate-scroll-reverse-custom {
    animation: scroll-reverse 30s linear infinite;
  }
}

.link-nav {
  @apply text-[#111111]  text-lg border-b-2 border-b-transparent hover:border-[#252969]  hover:text-[#252969] transition-colors duration-300;
}

.link-nav-pharma {
  @apply text-[#111111]  text-lg border-b-2 border-b-transparent hover:border-[#0099A8]  hover:text-[#0099A8] transition-colors duration-300;
}

.link-nav-access {
  @apply bg-[#252969] border border-[#252969] text-white py-2 px-6 rounded-lg hover:bg-transparent hover:text-[#252969] transition-colors duration-300 shadow-2xl;
}

.link-nav-access-pharma {
  @apply bg-[#0099A8] border border-[#0099A8] text-white py-2 px-6 rounded-lg hover:bg-transparent hover:text-[#0099A8] transition-colors duration-300 shadow-2xl;
}

.titles {
  @apply text-2xl lg:text-4xl xl:text-5xl text-black;
}

.titles-secondary {
  @apply text-xl lg:text-2xl xl:text-3xl text-black;
}

.paragraphs {
  @apply text-base lg:text-lg xl:text-xl text-black;
}

.paragraphs-secondary {
  @apply text-sm lg:text-base xl:text-lg text-black;
}

.btn {
  @apply bg-[#252969] text-center  transition duration-300 w-fit uppercase hover:bg-transparent hover:text-[#252969] border border-[#252969];
}

.titles-hero-pages {
  @apply text-4xl lg:text-7xl font-bold;
}

.stats-number {
  @apply text-2xl lg:text-4xl font-bold text-black;
}

.stats-text {
  @apply text-base lg:text-xl text-black font-semibold uppercase;
}
